.App {
  text-align: center;
}

.menu {
  background-color: #f9fafb;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.menu-item {
  cursor: pointer;
  font-size: 16px;
}

.menu-item-disabled {
  color: #ccc;
  cursor: not-allowed;
}

.floating-menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  position: fixed;
  top: 8px;
  left: 8px;
  width: 32px;
  height: 32px;
  background-color: #FF0D0E;
  border-radius: 50%;
}

.floating-menu {
  display: flex;
  float: left;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 30px;
  left: 30px;
  width: 140px;
  padding: 2px 2px 2px 2px;
  background-color: #f9fafb;  
  border: 1px solid #333;
  color: #333;
  z-index: 990;
}

.floating-menu-item {
  cursor: pointer;
  width: 128px;
  padding: 0px 8px 0px 4px;
  text-align: left; 
}

.floating-menu-item:hover {
  background-color: lightgray;
}


.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}

.dialog-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dialog-body {
  font-size: 14px;
  margin-bottom: 20px;
  border:#333 1px solid;
  padding:10px;
}

.dialog-footer {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dialog-button {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dialog-button-primary {
  background-color: #007bff;
  color: white;
}

.dialog-button-secondary {
  background-color: #f1f1f1;
  color: #333;
}

.form-control {
  margin: 8px 16px;
  padding: 4px 4px;
}

.drop-target {
  border: 2px dashed #007bff;
  background-color: #f0f8ff;
  height: 150px;
  margin: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.breadcrumb {
  margin: 16px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.breadcrumb span {
  display: inline; /* Spans are inline by default */
  margin-right: 15px; /* Space for the chevron */
  position: relative;
}

/* Add a chevron AFTER every span that is followed by another span */
.breadcrumb span + span::before {
  content: '>'; /* or a custom character, e.g., '\203A' (single right angle quotation mark) */
  position: absolute;
  left: -12px; /* Position the chevron in the space you made with margin */
  /*color: #ccc; /* Customize the color */
}